/*  your css code here. If applicable */
*{
            margin: 0%;
        }
        body{
            background-image: url("https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Zm9yZXN0fGVufDB8fDB8fHww");
            background-repeat: no-repeat;
            background-size: cover;
        }
        div{
            width: 40%;
            margin: auto;
            height: 100vh;
            background-color: white;
            color: black;
            display: flex;
         
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;
        }